h3 {
color: red;
margin-left: 25px;
border-bottom: 1px solid #e8e8e8;
padding: 20px 0 25px 0;
}
.searchfields table{
color: black;
padding: 20px 0 25px 0;
text-align: left;
margin-left: 20px;
table-layout: fixed
width: 100%;
}
.searchfields td,th{
padding: 5px;
}
input[type="text"] {
width: 500px;
height: 20px;
}
.buttonsearch {
text-align: center;
}
.buttonsearch input:hover{
  background-color: #1e7dff;
  cursor: pointer;
}
input[type="submit"]{
color: white;
background-color: #1e90ff;
border-radius: 3px;
border: none;
padding: 10px 10px;
text-decoration: none;
}
