body{
background: #fff;
font-family: Arial, sans-serif;
}
.top {
position: absolute;
right: 2%;
}
.top a{
text-decoration: none;
color: black;
padding: 2px;
font-size: 16px;
}
.top a:hover{
text-decoration: underline;
color: black;
}
.simage {
position: absolute;
top: 20%;
left: 40%;
}
input[type="text"]{
position: absolute;
top: 35%;
left: 38%;
border-radius: 10px;
width: 400px;
background: #ffffff !important; // желательно прописывать, так как в Chrome при сохранных данных оно может быть желтым
height: 30px; // высота на свое усмотрение
}
.buttonsearch{
position: absolute;
top: 40%;
left: 44%;
}
.main{
}