body{
background: #fff;
font-family: Arial, sans-serif;
}
.top {
text-align: right;
padding: 2px;
}
.top a{
text-decoration: none;
color: black;
padding: 4px;
font-size: 16px;
}
.top a:hover{
text-decoration: underline;
color: black;
}
.simage {
position: absolute;
top: 20%;
left: 40%;
}
input[type="text"]{
position: absolute;
top: 35%;
left: 38%;
border-radius: 10px;
width: 400px;
background: #ffffff !important;
height: 20px;
}
.buttonsearch{
position: absolute;
top: 40%;
left: 44%;
}